.website.css1 {
  font-family: arial, sans-serif;

  .container {
  }

  .skill-bar {
    padding: 5px;
    border-right: 1px solid black;
  }

  .worker-table {
    padding: 5px;
    border-left: 1px solid black;
  }

}
