.website.css1 {
  font-family: arial, sans-serif;

  .container {
  }

  .skill-bar {
    -webkit-box-shadow: inset -2px 0px 10px 0px rgba(204,204,204,1);
    -moz-box-shadow: inset -2px 0px 10px 0px rgba(204,204,204,1);
    box-shadow: inset -2px 0px 10px 0px rgba(204,204,204,1);
    padding-left: 3px;
    padding-right: 3px;

    .no-skills {
      font-size: 14px;
      text-align: center;
      margin: 5px;
      color: gray;
    }

    .skill-bar-title {
      text-align: center;
    }

    .skill-bar-item {
      position: relative;
      border: 1px solid gray;
      font-size: 12px;
      margin: 6px;
      padding: 5px;
      border-radius: 5px;
      box-sizing: border-box;

      .skill-description-tooltip {
          display: none;
      }

      .skill-title {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .skill-purchase {
        display: none;
      }

      &:hover {
        border: 2px solid gray;
        padding: 4px;
        cursor: pointer;

        .skill-description-tooltip {
            display: block;
            position: fixed;
            overflow: hidden;
            width: 200px;
            padding: 10px;
            z-index: 99;
            background-color: white;
            border: 1px solid gray;
        }
      }
    }
  }

  .worker-table {
    -webkit-box-shadow: inset 2px 0px 10px 0px rgba(204,204,204,1);
    -moz-box-shadow: inset 2px 0px 10px 0px rgba(204,204,204,1);
    box-shadow: inset 2px 0px 10px 0px rgba(204,204,204,1);

    padding: 5px;
  }

}
