.website.html2 {
  display: flex;
  padding: 0;

  .container {
    width: 100%;
    padding: 8px;
  }

  .skill-bar {
    width: 180px;
    background-color: white;
    overflow-y: auto;
    flex: none;
  }

  .worker-table {
    width: 250px;
    background-color: white;
    overflow-y: auto;
    flex: none;

    &.hidden {
      width: 10px;
    }
  }
}
