@font-face {
  font-family: 'icomoon';
  src:  url('../../assets/fonts/icomoon.eot?etipif');
  src:  url('../../assets/fonts/icomoon.eot?etipif#iefix') format('embedded-opentype'),
    url('../../assets/fonts/icomoon.ttf?etipif') format('truetype'),
    url('../../assets/fonts/icomoon.woff?etipif') format('woff'),
    url('../../assets/fonts/icomoon.svg?etipif#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social:before {
  content: "\e903";
}

.icon-search:before {
  content: "\e902";
}

.icon-globe:before {
  content: "\e900";
}

html, body {
  height: 100%;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

#page {
  width: 100%;
  height: 100%;
}

.website {
  width: 100%;
  height: 100%;
  padding: 8px;

  .container {
    height: 100%;
    overflow-y: auto;
  }
}

.website-contents {
  margin: 8px;
}

p {
  margin: 0;
}

table.old-table {
  border: 1px solid black;
}

table.old-table td {
  border: 1px solid black;
}

table.old-table th {
  border: 1px solid black;
}

.modal {
  position: absolute;
  top: 200px;
  bottom: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 2px 15px #888888;
  padding: 10px;
  font-family: sans-serif;
  text-align: center;
}

.backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.site-options {
  display: flex;
  justify-content: space-around;

  span {
    font-size: 80px;
    display: block;
    margin: 10px;
  }
}

.site-option {
  border: 3px solid black;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  margin: 10px;
  padding: 30px;
  &:hover {
    background-color: #eee;
    cursor: pointer;
  }
}

@import 'skills/html1.scss';
@import 'skills/html2.scss';
@import 'skills/css1.scss';
@import 'skills/search.scss';
@import 'skills/social.scss';
